@font-face {
  font-family: 'Playfair Display';
  src: url('../resources/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



.name {
  font-family: 'Playfair Display', serif;
}

.name .subtitle {
  color: #361eaa;
}

.section-spacing {
  margin-top: 3%;
}

.section-spacing p {
  margin-top: 1%;
}

.side-section .subtitle {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #361eaa;
}

.side-section ul li {
  font-size: 0.9rem;
  padding-bottom: 18px;
  max-width: 75%;
}

.project-name a {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  color: #4a4a4a;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}

.project-name a:hover {
  color: #361eaa;
}

.project-name a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #361eaa;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.project-name a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.project-desc {
  color: #4a4a4a;
}

.info a,
.project-desc a {
  color: #361eaa;
}

.list {
  margin: 1rem;
  list-style: disc inside;
}

.list li {
  padding-bottom: 6px !important;
}

.social a {
  margin-top: 1%;
}

.svg {
  background-image: url("../resources/seagulls.svg");
  color: rgb(24, 26, 27);
  display: block;
  font-family: "Avenir-Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  height: 75px;
  margin-left: 25px;
  margin-top: 50px;
  position: absolute;
  text-rendering: optimizelegibility;
  width: 266px;
  z-index: -1;
}



@media only screen and (max-width: 770px) {
  .side-section ul li {
    max-width: 100%;
  }
  
  .svg {
    margin-left: 15%;
    margin-top: 0;
  }
}
