body {
    margin: 180px 0 100px 0;
    background-image: url(img/background.jpg);
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    color: #1a1a1a;
}

.page-container {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: white;
}

#header-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 10px;
    background-color: #252525;
}

.header {
    margin: 0 2%;
}

#logo {
    float: left;
    margin: 0 0 0 30px;
    padding: 0;
    line-height: 8px;
}

#primary-menu {
	float: right;
	margin: 25px 40px 0 0;
}

#primary-menu ul li {
	position: relative;
	display: inline;
	float: right;
}

#primary-menu ul li:before {
    content: "/";
	color: #ccc;
	font-size: 13px;
}

#primary-menu ul li:last-child:before, #primary-menu ul ul li:before {
    content: "";
}

#primary-menu ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 14px;
    font-family: 'Heebo', sans-serif;
	color: #EEE;
	display: block;
	float: right;
	margin: 0 5px;
	padding: 0 3px 15px 3px;
}

#primary-menu ul li a:hover { 
    color: #999;    
}

body#portfolio #primary-menu ul li a.portfolio,
body#about #primary-menu ul li a.about,
body#contact #primary-menu ul li a.contact {
	color: #999;
}


#menu {
    list-style-type: none;
}

.portfolio {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding-left: 100px;
    overflow: hidden;
}

.projects {
    list-style-type: none;
}

.floating-box {
    display: inline-block;
    width: 400px;
    height: 250px;
    margin: 0 20px 20px 0;
}