body {
    margin: 0 auto;
    padding: 0;
}

#landing {
    height: 100%;
    width: 80%;
    margin-left: 20%;
}

#landing img {
    width: 100%;
    display: block;
}

.navbar {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: white;
    color: #2A2829;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 16px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    box-shadow: -4px -4px 20px #2A2829;
    text-align: center;
}

.navbar img {
    margin: 20% 5% 20% 0%;
}

.navbar li a {
    display: block;
    color: #2A2829;
    padding: 8px 20px;
    text-decoration: none;
    border-top-style: dotted;
    border-width: thin;
    border-color: #2A2829;
}

#last-nav-li {
    border-bottom-style: dotted;
    border-width: thin;
    border-color: #2A2829;
}

.navbar li a:hover {
    background-color: #2A2829;
    color: pink;
    text-decoration: underline;
}

.navbar blockquote {
    display: block;
    margin: 10% 8% 8% 8%;
    padding-left: 2%;
    text-align: left;
    border-left-style: solid;
    border-left-color: pink;
    border-left-width: medium;
    font-size: 14px;
}

/* NAVBAR SOCIAL LINKS */

.navicons {
    margin-top: 15%;
}

.navbar i {
    font-size: 175%;
    color: #2A2829;
    float: inherit;
    width: 18%;
    vertical-align: text-top;
    transition: color 0.25s ease;
    -webkit-transition: color 0.25s ease;
    -moz-transition: color 0.25s ease;
}

i:hover {
    color: pink;
}

/* END NAVBAR SOCIAL LINKS */

.container {
    height: 100%;
    width: 80%;
    float: right;
    background-color: #f2f2f2;
}

#portfolio {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.header {
    text-align: center;
}

#portfolio h1 {
    font-family: 'Heebo', sans-serif;
    margin: 0 3px 0 auto;
    color: #2A2829;
    text-transform: uppercase;
}

#skinny-text {
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
}

#bold-text {
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
}

.floating-box {
    display: inline-block;
    width: 400px;
    height: 250px;
    margin: 0 20px 20px 0;
    transition: 0.5s box-shadow ease;
    -webkit-transition: 0.5s box-shadow ease;
    -moz-transition: 0.5s box-shadow ease;
    vertical-align: text-top;
    
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.floating-box:hover {
    -webkit-filter: blur(0px);
    box-shadow: 0px 0px 20px #2A2829;
    
    -webkit-transform:scale(1.08); /* Safari and Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* IE 9 */
    -o-transform:scale(1.08); /* Opera */
     transform:scale(1.08);
}

#about {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.about-header {
    margin: 0 auto;
}

.bio {
    margin: 2% 2% 5% 5%;
    text-align: left;
    color: #2A2829;
}

.bio h1 {
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    margin: 0 3px 0 auto;
    text-transform: uppercase;
}

#bold {
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
}

h1 {
    display: inline-block;
}

.bio p {
    font-family: 'Heebo', sans-serif;
}

#contact {
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.map {
    width: 100%;
    height: 100%;
}

.contact-text {
    margin: 2% 2% 2% 5%;
    text-align: center;
    color: #2A2829;
    padding-right: 2%;
}

.contact-text h1 {
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    margin: 0 3px 0 auto;
    text-transform: uppercase;
}

.contact-text p {
    font-family: 'Heebo', sans-serif;
}

.border {
    height: 0%;
    width: 50%;
    margin-left: 25%;
    border-bottom-style: dotted;
    border-bottom-color: #2A2829;
    border-bottom-width: thin;
}

.contact-info {
    margin: 0 auto;
    color: #2A2829;
    text-align: center;
}

.contact-info p {
    font-family: 'Heebo', sans-serif;
}

.contact-info i {
    font-size: 18px;
    color: #2A2829;
    float: inherit;
    width: 25px;
    vertical-align: text-top;
    transition: color 0.25s ease;
    -webkit-transition: color 0.25s ease;
    -moz-transition: color 0.25s ease;
}

i:hover {
    color: pink;
}

.contact-info p a {
    text-decoration: none;
    transition: color 0.25s ease;
    -webkit-transition: color 0.25s ease;
    -moz-transition: color 0.25s ease;
}

.contact-info p a:hover {
    text-decoration: none;
    color: pink;
}