h1,
h2,
h3,
h4,
p {
    color: #fafafa;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
}

body {
    margin: 0 auto;
    background-color: #2a2829 !important;
}

.container {
    background-color: transparent;
}

#landing {
    height: 100%;
    width: 100%;
    position: relative;
}

#landing h2 {
    position: absolute;
    top: 50%;
    left: 18%;
    margin-right: 18%;
    text-align: center;
    transform: translate(0, -50%);
    text-transform: uppercase;
    font-size: 1.3em;
}

#portfolio {
    height: 100%;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.wrap {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

.tint {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .3s linear;
}

.tint:hover:before { background: rgba(10,0,0, 0.5); }

.t1:before { background: rgba(0,0,0, 0.8); }

#about {
    height: 100%;
    width: 100%;
    margin: 0% auto 10% auto;
    position: relative;
    top: 600px;
}

#about div h4 {
    font-size: 1em;
    text-transform: uppercase;
}

#about h4 a {
    text-decoration: underline;
    color: #fafafa;
}

#about h4 a:hover {
    text-decoration: underline;
    color: pink;
}

.section1 {
    width: 40%;
    margin: 5% 2% 5% 5%;
    display: block;
    float: left
}

.section1 button {
    background-color: transparent;
    color: #fafafa;
    padding: 0.8em 1em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    border-style: solid;
    border-width: thin;
    border-color: #fafafa;
}

.section1 button:hover {
    color: pink;
    border-color: pink;
    cursor: pointer;
}

.section1 p {
    font-size: 1.8em;
    font-family: 'Times-New-Roman', serif;
}

.section2 {
    width: 20%;
    margin: 5% 2% 5% 5%;
    display: block;
    float: left;
}

.section2 p {
    font-size: 1.3em;
    font-family: 'Times-New-Roman', serif;
}

.section3 {
    width: 15%;
    margin: 5%;
    display: block;
    float: left;
}

.section3 p {
    font-size: 1.1em;
    font-family: 'Times-New-Roman', serif;
}

@media screen and (max-width: 768px) {
    #about {
        position: static;
    }
    .section1 { 
        float: none;
        margin-right: 5%;
        width: auto;
  }
    .section2 {
        float: none;
        margin: 15% 5% 0% 5%;
        width: auto;
    }
    .section3 {
        float: none;
        margin: 15% 5% 15% 5%;
        width: auto;
    }
}