body {
    margin: 0 auto;
    background-color: #fafafa;
}



/*
 *    #          #    #     # ######  ### #     #  #####  
 *    #         # #   ##    # #     #  #  ##    # #     # 
 *    #        #   #  # #   # #     #  #  # #   # #       
 *    #       #     # #  #  # #     #  #  #  #  # #  #### 
 *    #       ####### #   # # #     #  #  #   # # #     # 
 *    #       #     # #    ## #     #  #  #    ## #     # 
 *    ####### #     # #     # ######  ### #     #  #####  
 */

#landing {
    color: #2A2829;
    height: 100%;
    position: relative;
}

#landing span {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

#landing h1 {
    font-size: 36px;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    display: block;
    float: left;
}

.light {
    font-weight: 100;
    margin-right: 4px;
}

#bold {
    font-weight: 600;
}




/***
 *    #     #    #    #     # ######     #    ######  
 *    ##    #   # #   #     # #     #   # #   #     # 
 *    # #   #  #   #  #     # #     #  #   #  #     # 
 *    #  #  # #     # #     # ######  #     # ######  
 *    #   # # #######  #   #  #     # ####### #   #   
 *    #    ## #     #   # #   #     # #     # #    #  
 *    #     # #     #    #    ######  #     # #     # 
 */

nav ul {
    margin: 0;
    padding: 0;
    height: 50%;
    width: 15%;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 5%;
    z-index: 100;
}

nav li {
    font-family: 'Heebo', sans-serif;
}

nav li a {
    display: block;
    color: #2A2829;
    text-align: center;
    padding: 18px 14px;
    text-decoration: none;
    text-transform: uppercase;
}

nav li a:hover {
    background-color: #2A2829;
    color: #fafafa;
    text-decoration: underline;
}



/*
 *       #    ######  ####### #     # ####### 
 *      # #   #     # #     # #     #    #    
 *     #   #  #     # #     # #     #    #    
 *    #     # ######  #     # #     #    #    
 *    ####### #     # #     # #     #    #    
 *    #     # #     # #     # #     #    #    
 *    #     # ######  #######  #####     #    
 */
#about {
    margin: 0% 3% 10% 20%;
    padding: 10% 0%;
}

#about h1 {
    font-family: 'Heebo', serif;
    font-weight: 100;
    font-size: 34px;
}

#about h1 a {
    color: #2A2829;
    text-decoration: none;
    border-bottom: dotted thin #2A2829;
}

#about h1 a:hover {
    border-bottom: solid thin #2A2829;
}

#about h3 {
    font-family: 'Heebo', serif;
    font-weight: 100;
}



/*
 *    #     # ####### ######  #    #  #####  
 *    #  #  # #     # #     # #   #  #     # 
 *    #  #  # #     # #     # #  #   #       
 *    #  #  # #     # ######  ###     #####  
 *    #  #  # #     # #   #   #  #         # 
 *    #  #  # #     # #    #  #   #  #     # 
 *     ## ##  ####### #     # #    #  #####  
 */

#works {
    overflow: hidden;
    margin: 0% 0% 10% 20%;
    color: #2A2829;
}

img {
    width: 100%;
    height: auto;
}

.wrap {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.tint {
  position: relative;
  float: left;
  cursor: pointer;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .3s linear;
}

.tint:hover:before { 
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.t1:before { background: rgba(42,40,41, 1.0); }

#works h2 {
    font-family: 'Heebo', serif;
    float: left;
}

#h2 {
    float: right;
    margin-right: 5%;
}

#works h2 a {
    color: #2A2829;
    text-decoration: none;
    border-bottom: dotted thin #2A2829;
}

#works h2 a:hover {
    border-bottom: solid thin #2A2829;
}

#clearfix {
    clear: both;
}

#works h4 {
    font-family: 'Heebo', serif;
}

#light {
    font-weight: 100;
    display: inline;
    margin-right: 4px;
}

#bold {
    font-weight: 600;
    display: inline;
}

#span-info {
    text-align: center;
    width: 80%;
    margin-left: 15%;
    float: left;
    padding: 1% 0%;
    border-style: solid;
    border-width: thin;
    border-color: #2A2829;
    border-left-style: none;
    border-right-style: none;
}

h3 {
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
}

#div-text {
    width: 90%;
    margin: 0 auto 15% auto;
    text-align: right;
}



/*
 *     #####  ####### #     # #######    #     #####  ####### 
 *    #     # #     # ##    #    #      # #   #     #    #    
 *    #       #     # # #   #    #     #   #  #          #    
 *    #       #     # #  #  #    #    #     # #          #    
 *    #       #     # #   # #    #    ####### #          #    
 *    #     # #     # #    ##    #    #     # #     #    #    
 *     #####  ####### #     #    #    #     #  #####     #    
 */

#contact {
    margin: 0%;
    padding: 0% 0% 2% 0%;
    text-align: center;
    overflow: hidden;
    color: #fafafa;
    background-color: #2A2829;
    z-index: 1;
}

#container {
    width: 100%;
    height: auto;
    text-align: left;
    position: relative;
}

#info {
    display: block;
    float: left;
    margin: 2% 10% 0% 20%;
}

#social {
    display: block;
    float: left;
    margin: 2% 0% 0% 0%;
}

#contact h2, h5 {
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
}

#contact h2 a {
    text-decoration: none;
    color: #fafafa;
}

#contact h2 a:hover {
    text-decoration: underline;
}


#top {
    font-size: 20px;
    margin-right: 5%;
    float: right;
    padding: 0px 10px;
}

#top a {
    color: #fafafa;
    text-decoration: none;
    padding: 2px 10px;
}



@media screen and (max-width: 760px) {
    
/* NAV SECTION */    
    nav ul {
        list-style-type: none;
        margin: 0 auto;
        overflow: hidden;
        background-color: #333;
        width: 100%;
        position: absolute;
        top: 0%;
        height: 210px;
    }

    nav li {
        float: none;
    }

    nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    nav li a:hover {
        background-color: #111;
    }
    
    
/* ABOUT SECTION */    
    #about {
        margin: 15% 5%;
        padding-top: 5%;
        text-align: left;
    }

    #about h1 {
        font-size: 30px;
    }

    #about h3 {
        font-family: 'Heebo', serif;
        font-weight: 100;
    }
    

/* WORKS SECTION */    
    #works {
        overflow: hidden;
        margin: 10% 0%;
    }
    
    .t1:before { 
        background: rgba(42,40,41, 0.0); 
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    
    #works h2 {
        font-size: 5vw;
    }
    
    #span-info {
        margin-left: 10%;
    }

    h3 {
        font-family: 'Heebo', sans-serif;
        font-weight: 100;
    }

    #div-text {
        width: 90%;
        margin: 0 auto 15% auto;
        text-align: center;
    }
    
/* CONTACT SECTION */
    #info {
        float: none;
        margin: 5%;
    }

    #social {
        float: none;
        margin: 10% 5% 5% 5%;
    }

    #contact h2 a {
        text-decoration: underline;
    }
    
    
/* TOP BUTTON */    
    #top {
        float: none;
        margin: 5%;
    }

    #top a {
        text-decoration: none;
        padding: 2%;
    }
    
    #top a:hover {
        text-decoration: none;
    }
}
