h1,
h2,
h3,
h4,
p {
    color: #fafafa;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
}

body {
    margin: 0 auto;
    background-color: #1f0068   !important;
}

.container {
    background-color: transparent;
    margin: 0 auto;
    overflow: hidden;
}

#landing {
    height: 100%;
    width: 100%;
    position: relative;
}

#landing h2 {
    position: absolute;
    top: 50%;
    left: 25%;
    margin-right: 25%;
    text-align: center;
    transform: translate(0, -50%);
    text-transform: uppercase;
    font-size: 1em;
}

#portfolio {
    width: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

.wrap {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.tint {
  position: relative;
  float: left;
  cursor: pointer;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .3s linear;
}

.tint:hover:before { background: rgba(31,0,104, 0.6); }

.t1:before { background: rgba(16,0,53, 0.8); }

#about {
    width: 100%;
    margin-bottom: 10%;
    position: relative;
    top: 50px;
}

#about div h4 {
    font-size: 1em;
    text-transform: uppercase;
}

#about h4 a {
    text-decoration: underline;
    color: #fafafa;
}

#about h4 a:hover {
    text-decoration: underline;
    color: #569CE3;
}

.section1 {
    width: 40%;
    margin: 5% 2% 5% 5%;
    display: block;
    float: left
}

.section1 button {
    background-color: transparent;
    color: #fafafa;
    padding: 0.8em 1em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    border-style: solid;
    border-width: thin;
    border-color: #fafafa;
}

.section1 button:hover {
    color: #569CE3;
    border-color: #569CE3;
    cursor: pointer;
}

.section1 p {
    font-size: 1.6em;
    font-family: 'Unna', serif;
}

.section2 {
    width: 20%;
    margin: 5% 2% 5% 5%;
    display: block;
    float: left;
}

.section2 p {
    font-size: 1.2em;
    font-family: 'Unna', serif;
}

.section3 {
    width: 15%;
    margin: 5%;
    display: block;
    float: left;
}

.header-margin {
    margin-bottom: -2%;
}

.section3 p {
    font-size: 1.2em;
    font-family: 'Unna', serif;
}

#footer {
    width: 70%;
    height: 0%;
    margin: 10% 15% 5% 15%;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: rgba(125,125,125,0.8);
}

#footer p {
    text-align: center;
    color: rgba(125,125,125,0.8);
    font-size: 0.9em;
    display: inline;
    vertical-align: top;
}

#bold {
    font-weight: 600;
}

.center {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}


@media screen and (max-width: 980px) {
    #about {
        position: static;
        margin: 10% auto;
    }
    .section1 { 
        float: none;
        margin-right: 5%;
        width: auto;
  }
    .section1 p {
        font-size: 1.4em;
    }
    .section2 {
        float: none;
        margin: 15% 5% 0% 5%;
        width: auto;
    }
    .section3 {
        float: none;
        margin: 15% 5% 15% 5%;
        width: auto;
    }
    #footer {
        margin-bottom: 10%;
    }
}
